<h1 class="font-title1">Bookmark list</h1>

  <div class="row">
  <% @bookmarks_pictures.each do |picture| %>
    <div class="col-4">
      <div class="card" style="width: 300px; margin-bottom: 5px;">
        <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
      
          <!--æŠ•ç¨¿è€…ã®ã‚¢ã‚¤ã‚³ãƒ³ã¨åå‰-->
          <div style="display: inline-block;">
          <%= image_tag picture.customer.profile_image.variant(resize_to_limit: [50, 50]).processed, class:"mt-3 rounded-circle bg-primary" %>
          <%= link_to picture.customer.name, public_customer_path(picture.customer.id) %>
          </div>
      
          <!--æŠ•ç¨¿ã‚¤ãƒ©ã‚¹ãƒˆ-->
          <div id="theTarget">
            <div style="margin: 5px; text-align: center;">
            <% picture.post_images.each do | image | %>
              <%= image_tag image.variant(resize_to_limit: [150, 150]).processed %>
            <% end %>
            </div>
          </div>
      
          <div>
            <!--æ–‡ç« -->
            <div style="display: inline-block;"><%= picture.explain %></div>
        
            <!--ã‚¿ã‚°-->
            <div style="display: inline-block;">
              <p>
              <% picture.tags.each do |tag| %>
                <% if tag.cloud == 0 #æ‰‹å‹• %>
                  #<%= tag.name %>
                <% else #Cloud API %>
                <span style="color: black; background-color: lightblue; margin: 3px;">
                <%= tag.name %>
                </span>
                <% end %>
              <% end %>
              </p>
            </div>
        
            <div style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
        
              <!--ã„ã„ã­-->
              <div style="display: inline-block;">
                <div id="like_buttons_<%= picture.id %>">
                  <%= render "public/likes/like", picture: picture %>
                </div>
              </div>
        
              <!--ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯-->
              <div style="display: inline-block;">
                <div id="bookmark_buttons_<%= picture.id %>">
                  <%= render "public/bookmarks/bookmark", picture: picture %>
                </div>
              </div>
        
              <!--ã‚³ãƒ¡ãƒ³ãƒˆ-->
              <div style="display: inline-block;">ðŸ’¬æ•°ï¼š<%= picture.comments.count %></div>
        
              <div style="display: inline-block;"><%= link_to 'è©³ç´°', picture, class:"btn btn-primary" %></div>
        
            </div>
          </div>
      
        </div>
      <% end %>
      </div>
    </div>