<h1 class="font-title2">おきにいり</h1>

<div class="row">
  <% @likes_pictures.each do |picture| %>
  <div class="col-3">
    <div class="card" style="width: 300px; margin-bottom: 5px;">
      <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">

          <!--投稿者のアイコンと名前-->
          <div style="display: inline-block;">
          <%= image_tag picture.customer.profile_image.variant(resize_to_limit: [50, 50]).processed, class:"mt-3 rounded-circle bg-primary" %>
          <%= link_to picture.customer.name, public_customer_path(picture.customer.id) %>
          </div>

          <!--投稿イラスト-->
          <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <div class='container-slide'>
              <div class='single-item'>
                <% picture.post_images.each do | image | %>
                  <%= image_tag image.variant(resize_to_limit: [150, 150]).processed %>
                <% end %>
              </div>
            </div>


          <div>

          <!--文章-->
          <div style="display: inline-block;"><%= picture.explain %></div>

          <!--タグ-->
          <div style="display: inline-block;">
            <p>
            <% picture.tags.each do |tag| %>
              <% if tag.cloud == 0 #手動 %>
                #<%= tag.name %>
              <% else #Cloud API %>
              <span style="color: black; background-color: lightblue; margin: 3px;">
              <%= tag.name %>
              </span>
              <% end %>
            <% end %>
            </p>
          </div>

          <div style="border-top: 1px solid rgba(0, 0, 0, 0.125);">

            <!--いいね-->
            <div style="display: inline-block;">
              <div id="like_buttons_<%= picture.id %>">
                <%= render "public/likes/like", picture: picture %>
              </div>
            </div>

            <!--ブックマーク-->
            <div style="display: inline-block;">
              <div id="bookmark_buttons_<%= picture.id %>">
                <%= render "public/bookmarks/bookmark", picture: picture %>
              </div>
            </div>

            <!--コメント-->
            <div style="display: inline-block;">💬：<%= picture.comments.count %></div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <% end %>

