<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'public/shared/sidebar', customer: @customer %>
      <div class="col-md-8 offset-md-1">

      <h3><%= @customer.name %>さんの詳細</h3>
      <table>
        <tr>
          <th></th>
          <td><%= image_tag @customer.get_profile_image(100,100) %></td>
        </tr>

        <!--ユーザ名-->
        <tr>
          <th></th>
          <td><h3><%= @customer.name %></h3></td>
        </tr>

        <tr>
          <th>フォロー</th>
          <td>
            <div id="followings_count_<%= @customer.id %>">
            <%= render 'public/relationships/followings_count', customer: @customer %>
            </div>
          </td>
        </tr>

        <tr>
          <th>フォロワー</th>
          <td>
            <div id="follower_count_<%= @customer.id %>">
            <%= render 'public/relationships/follower_count', customer: @customer %>
            </div>
          </td>
        </tr>

        <!--フォロー機能-->
        <tr>
          <th></th>
          <td>
            <% unless current_customer == @customer %>
              <div id="follow-button-<%= @customer.id %>">
              <% if current_customer.following?(@customer) %>
                <%= render 'public/relationships/unfollow_button', customer: @customer %>
              <% else %>
                <%= render 'public/relationships/follow_botton', customer: @customer %>
              <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      </table>

      <h2><%= @customer.name %>さんの投稿履歴</h2>

      <table>
        <% @pictures.each do |picture| %>

        <!--イラスト-->
        <tr>
          <th></th>
          <td>
            <% picture.post_images.each do | image | %>
              <%= image_tag image.variant(resize_to_limit: [100, 100]).processed %>
            <% end %>
          </td>
        </tr>

        <!--タグ-->
        <tr>
          <th></th>
          <td>
            <% picture.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        </tr>
        
        <!--説明文-->
        <tr>
          <th></th>
          <td><%= picture.explain %></td>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <% if current_customer && picture.customer == current_customer || current_admin %>
            <td><%= link_to '詳細',  picture %></td>
            <td><%= link_to '削除', picture_path(picture.id), method: :delete, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>