<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'public/shared/sidebar',customer: @customer %>
      <div class="col-md-8 offset-md-1">

      <h3>ユーザー詳細</h3>
      <table>

        <tr>
          <th><!--ユーザ名--></th>
          <td><%= @customer.name %></td>
        </tr>

        <tr>
          <th></th>
          <td><%= image_tag @customer.get_profile_image(100,100) %></td>
        </tr>

        <tr>
          <th><!--フォロー機能--></th>
          <td>
            <% unless current_customer == @customer %>
              <div id="follow-button-<%= @customer.id %>">
              <% if current_customer.following?(@customer) %>
                <%= render 'public/relationships/unfollow_button', customer: @customer %>
              <% else %>
                <%= render 'public/relationships/follow_botton', customer: @customer %>
              <% end %>
              </div>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>フォロー</th>
          <td>
            <div id="followings_count_<%= @customer.id %>">
            <%= render 'public/relationships/followings_count', customer: @customer %>
            </div>
          </td>
        </tr>

        <tr>
          <th>フォロワー</th>
          <td>
            <div id="follower_count_<%= @customer.id %>">
            <%= render 'public/relationships/follower_count', customer: @customer %>
            </div>
          </td>
        </tr>

        <tr>
          <th></th>
          <td><%= link_to 'いいねした投稿一覧', likes_public_customer_path %></td>
        </tr>
      </table>

      投稿履歴

      <table>
        <% @pictures.each do |picture| %>
        <tr>
          <th></th>
          <td><%= image_tag current_customer.profile_image %></td>
        </tr>

        <tr>
          <th></th>
          <td><%= current_customer.name %></td>
        </tr>

        <tr>
          <th></th>
          <td><%= picture.explain %></td>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <% if @customer == current_customer %>
            <td><%= link_to '編集', edit_picture_path(current_customer.id) %></td>
            <td><%= link_to '削除', picture_path(picture.id), method: :delete %></td>
          <% end %>
      </tr>
      <% end %>
      </table>

    </div>
  </div>
</div>