<div class="col-md-3">
  <table>

    <tr>
      <th></th>
      <td>
        <div class="col-2">
        <%= image_tag current_customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
        </div>
      </td>
    </tr>

    <!--ãƒ¦ãƒ¼ã‚¶å-->
    <tr>
      <th></th>
      <td><h3><%= current_customer.name %></h3></td>
    </tr>

    <tr>
      <th>ãƒ•ã‚©ãƒ­ãƒ¼</th>
      <td>
        <div id="followings_count_<%= current_customer.id %>">
        <%= render 'public/relationships/followings_count', customer: current_customer %>
        </div>
      </td>
    </tr>

    <tr>
      <th>ãƒ•ã‚©ãƒ­ãƒ¯ãƒ¼</th>
      <td>
        <div id="follower_count_<%= current_customer.id %>">
        <%= render 'public/relationships/follower_count', customer: current_customer %>
        </div>
      </td>
    </tr>
  </table>

  <nav class="navbar navbar-light light-blue lighten-4">
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to 'ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç·¨é›†', edit_public_customer_path(customer) %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to 'ã„ã„ã­', likes_public_customer_path(current_customer.id) %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to 'ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯', bookmarks_public_customer_path(current_customer.id) %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">
            <%= link_to 'ðŸ’¬ä¸€è¦§', comments_public_customer_path(current_customer.id) %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>