<h1>投稿一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">会員名</th>
      <th scope="col">投稿画像</th>
      <th scope="col">文章</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each_with_index do |picture,i| %>
    <tr>
      <th scope="row"><%= i +1 %></th>
      
      <!--アイコンと名前-->
      <td>
        <%= image_tag picture.customer.profile_image.variant(resize_to_limit: [100, 100]).processed %>
        <%= link_to picture.customer.name, admin_customer_path(picture.customer.id) %>
      </td>

      <!--投稿画像-->
      <td>
      <% picture.post_images.each do | image | %>
        <%= image_tag image.variant(resize_to_limit: [100, 100]).processed %>
      <% end %>
      </td>

      <!--文章-->
      <td><%= picture.explain %></td>

      <!--詳細と削除-->
      <td>
      <%= link_to '詳細', picture, class:"btn btn-primary" %>
      <%= link_to '削除', picture, method: :delete, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>