<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'public/shared/sidebar', picture: @picture %>
      <div class="col-md-8 offset-md-1">

        <h1>投稿詳細</h1>
        <table>
          <tbody>
          <% @pictures.each do |picture| %>
            <tr>
              <!--投稿者のアイコン-->
              <td><%= image_tag picture.customer.profile_image.variant(resize_to_limit: [100, 100]).processed %></td>

                  <!--投稿者名-->
              <td><%= picture.customer.name %></td>

                  <!--タグ-->
              <td>
                <% picture.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </td>

                  <!--文章-->
              <td><%= picture.explain %></td>

                  <!--イラスト-->
              <td>
                <% picture.post_images.each do | image | %>
                  <%= image_tag image.variant(resize_to_limit: [100, 100]).processed %>
                <% end %>
              </td>
            </tr>

          <% end %>
          </tbody>
        </table>

        <!--いいね-->
        <% if @picture.liked_by?(current_customer) %>
            <p>
              <%= link_to public_like_path(current_customer.likes.find_by(picture_id: @picture.id)), method: :delete do %>
                ♥<%= @picture.likes.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to public_likes_path(picture_id: @picture.id), method: :post do %>
                ♡<%= @picture.likes.count %>
              <% end %>
            </p>
          <% end %>

          <!--ブックマーク-->
        <% if @picture.bookmarked_by?(current_customer) %>
            <p>
              <%= link_to public_bookmark_path(current_customer.bookmarks.find_by(picture_id: @picture.id)), method: :delete do %>
                ブックマークを外す
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to public_bookmarks_path(picture_id: @picture.id), method: :post do %>
                ブックマークに登録する📖
              <% end %>
            </p>
        <% end %>

          <!--コメント-->
        <% if @picture.comments.any? %>
          <div>
            <p>コメント件数：<%= @picture.comments.count %></p>
            <% @picture.comments.each do |picture_comment| %>
              <p><%= image_tag picture_comment.customer.get_profile_image(100,100) %></p>
              <%= picture_comment.customer.name %>
              <%= picture_comment.created_at.strftime('%Y/%m/%d') %><%= picture_comment.message %>
            <% end %>
          </div>
        <% end %>

        <div>
          <%= form_with model: @picture_comment, url: public_comments_path, local: true do |f| %>
            <%= hidden_field_tag :picture_id, @picture.id %>
            <%= f.text_area :message, rows: '5', placeholder: "コメントを記入" %>
            <%= f.submit "送信する", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
  </div>
</div>